

body{
    background: radial-gradient(53.59% 32.15% at 50% 40%,
    #3D48A7, 
    #1C2789 52.92%, #00095F 100%);
    overflow: visible;
    color: white;
    margin: auto;
    background-attachment: fixed;
    width: 100%;
    margin: auto;
}

html{
    position: relative;
    width: fit-content;
    height: 100vh;
}
footer {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
/*version mobile*/

        /* header */

        header{
            margin-top: 30px;
            margin-bottom: 50px;
            width: 100%;

            justify-content: center;
            align-items: center;
        }


        h1{
            width: fit-content;
            margin: auto;
            margin-top: 5%;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;


            color: #BA84FF;

            text-shadow: 0px -1px 8px rgba(211, 177, 255, 0.71);
        }
        p {
            padding: 30px;
        }

        /* mise en place des boutons et de leur hover */

        .liens {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: 2px solid #BA84FF;
            filter: drop-shadow(0px -1px 13px #BA84FF);
            border-radius: 14px;
            transition: 1s;

            text-align: center;
            color: white;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-decoration: none;
        }
        .liens:hover{
            background: #BA84FF;
            border: 2px solid #BA84FF;
            box-shadow: 0px -1px 13px #BA84FF;
            border-radius: 14px;
            transition: 1s;
        }
        #btns {
            height: 500px;
            padding: 30px;
            display: flex;

            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            z-index: 0;
        }

        
        
        

/* version tablette */

        @media screen and (min-width: 600px) and (max-width: 1170px) {
            .liens {
                width: 40vw;
                margin-bottom: 40px;
            }

            #btns {
                flex-direction: row;
                height: fit-content;
            }
        }

/* version laptop */

        @media screen and (min-width: 1170px) {


            section{
                font-size: 1.5em;
                display: flex;
                flex-direction: row;
                height: 350px;
            }

            p{
                flex: 1;
                align-self: center;
            }

            #btns{
                flex: 1;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                align-self: center;
                height: 60%;
            }

            .liens{
                width: 40%;
                height: fit-content;
            }
            h1{
                font-size: 3.5em;
            }
        }




    /* burger */


    #toggle {
        display: none;
      }
      
      /**
        Hamburger
      **/
      .hamburger {
        position: fixed;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
      }
      
      .hamburger div {
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: #BA84FF;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
      }
      
      /**
      Nav Styles
      **/
      .nav {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #090E6B;
        top: -100%; left: 1; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 1;
      }
      .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
      }
      nav {
        text-align: left;
        margin-left: 15%;
      }
      nav a {
        position: relative;
        text-decoration: none;
        color: #BA84FF;
        font-size: 2em;
        display: inline-block;
        margin-top: 3.5em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
      }
      nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
      }
      nav a:hover {
        color: white;
      }
      nav a:hover:before {
        height: 100%;
      }
      
      /**
      Animations
      **/
      #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
      }
      #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
      }
      #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
      }
      
      #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
      }