/* Set variables for size */
:root {
  --size-width: 600px;
  --size-height: 350px;
  }
  
  /* Set styles for carousel wrapper */
  .carousel-wrapper {
  width: calc(var(--size-width) * 1.3);
  height: calc(var(--size-height) * 1.4);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 100px auto 20px;
  background-color: aqua;
  }
  
  /* Set styles for carousel container */
  .carousel-container {
  width: var(--size-width);
  height: var(--size-height);
  overflow: hidden;
  margin: 0 auto;
  }
  
  /* Set styles for carousel */
  .carousel {
  display: flex;
  width: calc(var(--size-width) * 3);
  animation: sliding 10s infinite;
  }
  
  /* Set styles for carousel items */
  .carousel > div {
  width: var(--size-width);
  height: var(--size-height);
  background-size: cover;
  background-position: center;
  }
  
  /* Set background images for carousel items */
  .carousel .image-one {
  background-image: url("https://images.unsplash.com/photo-1480936600919-bffa6b7ecf1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  }
  
  .carousel .image-two {
  background-image: url("https://images.unsplash.com/photo-1475053081036-c8eb31d187b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  }
  
  .carousel .image-three {
  background-image: url("https://images.unsplash.com/photo-1525278070609-779c7adb7b71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  }
  /* Set animation for sliding carousel */
  @keyframes sliding {
    30% {
    transform: translateX(0);
    }
    35% {
    transform: translateX(calc(-1 * var(--size-width)));
    }
    65% {
    transform: translateX(calc(-1 * var(--size-width)));
    }
    70% {
    transform: translateX(calc(-1 * var(--size-width) * 2));
    }
    98% {
    transform: translateX(calc(-1 * var(--size-width) * 2));
    }
    100% {
    transform: translateX(0);
    }
  }
  
  /* Set styles for carousel on smaller screens  */
  @media screen and (max-width: 768px) {
  /*  Update size variables */
  :root {
  --size-width: 240px;
  --size-height: 150px;
  }
  
  /* Update styles for carousel wrapper */
  .carousel-wrapper {
  width: calc(var(--size-width) * 1.3);
  height: calc(var(--size-height) * 1.4);
  }
  
  /* Update styles for carousel container */
  .carousel-container {
  width: var(--size-width);
  height: var(--size-height);
  }
  
  /* Update styles for carousel items */
  .carousel > div {
  width: var(--size-width);
  height: var;
  }

  #image_carousel {
    border: solid;
  }
}